// Body
$body-bg: rgba(243, 243, 243, 0.87);

// Typography
$font-family-sans-serif:'Heebo', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.2;

// Colors
$blue: #007bff;
$indigo: #6574cd;
$purple: #9561e2;   
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffc107;
$green: #02b34c;
$teal: #4dc0b5;
$cyan: #6cb2eb;
